extend layout

block content
    h1 Livestock Details

    ul.list-group
      each livestock, i in livestocks
        li.list-group-item
          a(href='/livestocks/'+livestock._id)= livestock.animalid
