extend layout

block content
    h1 Login
    
    form(method='POST', action= '/officials/login')
      #form-group
        label email
        input.form-control(name='username', type='text')  
      #form-group
        label password
        input.form-control(name='password', type='password')
      input.btn.btn-primary(type='submit', value='submit')
