extend layout

block content
    h1 Registrer
    
    form(method='POST', action= '/officials/register')
      #form-group
        label name
        input.form-control(name='name', type='text')
      #form-group
        label email
        input.form-control(name='email', type='text')
      #form-group
        label Phone Number
        input.form-control(name='phone', type='text')
      #form-group
        label Designation
        input.form-control(name='designation', type='text')  
      #form-group
        label password
        input.form-control(name='password', type='password')
      #form-group
        label confirm password
        input.form-control(name='conpassword', type='password')
      input.btn.btn-primary(type='submit', value='submit')
